<!DOCTYPE html>
<html lang="en">
<head>

<title>CapThat</title>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../css/magnific-popup.css">

<link rel="stylesheet" href="../css/owl.theme.css">
<link rel="stylesheet" href="../css/owl.carousel.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="../css/tooplate-style.css">
<!-- Angular Material style sheet -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
<!-- FontAwesome style sheet -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<!-- Angular (minified) -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-cookies.js"></script>

</head>
<body>

<div data-ng-app="myApp" data-ng-controller="myCtrl">

     <!-- PRE LOADER -->
     <div class="preloader">
          <div class="spinner">
               <span class="sk-inner-circle"></span>
          </div>
     </div>


     <!-- MENU -->
     <div class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <!-- NAVBAR HEADER -->
               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>
                    <!-- lOGO -->
                    <a href="/" class="navbar-brand"><b>CapThat</b></a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#" class="smoothScroll">Create</a></li>
                         <li><a href="#" class="smoothScroll">Hi, <%= name %></a></li>
                         <li><button type = "submit" value="Log out" data-ng-click="logout()"></button></li>

                    </ul>
               </div>

          </div>
     </div>


     <!-- HOME -->
     <section id="home" class="parallax-section">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-8 col-sm-12">
                         <div class="blank">
                              <form name="myForm">
                                   <label style="color:#ffffff;text-align:left;font-size:20px">Please enter the image URL:<br>
                                        <input type="url" name="input" data-ng-model="url.text" required style=border:none;width:400px;height:45px;border-radius:2px;color:darkgrey;padding:20px>
                                        <input type="submit" data-ng-click="SubmitImage(url.text)" value="Search" style="border:none;background-color:#EC7063;height:45px;width:90px;border-radius:2px;color:#FFFFFF" >
                                   </label>
                              </form>
                         </div>

                    </div>
               </div>
          </div>



          <!-- Video -->
          <video controls="" autoplay="" loop="" muted>
               <source src="/videos/Morning.mp4" type="video/mp4">
               Your browser does not support the video tag.
          </video>
     </section>

    <div ng-show="imageSearched">

        <label>
            <h1>
                {{firstWord}}
            </h1>
            <input type="submit" data-ng-click="findLyrics(firstWord)" value="CapTHAT!" style="border:none;background-color:#EC7063;height:45px;width:90px;border-radius:2px;color:#FFFFFF">
        </label>

        <label>
            <h1>
                {{secondWord}}
            </h1>
            <input type="submit" data-ng-click="findLyrics(secondWord)" value="CapTHAT!" style="border:none;background-color:#EC7063;height:45px;width:90px;border-radius:2px;color:#FFFFFF">
        </label>

        <label>
            <h1>
                {{thirdWord}}
            </h1>
            <input type="submit" data-ng-click="findLyrics(thirdWord)" value="CapTHAT!" style="border:none;background-color:#EC7063;height:45px;width:90px;border-radius:2px;color:#FFFFFF">
        </label>

        <label>
            <h1>
                {{fourthWord}}
            </h1>
            <input type="submit" data-ng-click="findLyrics(fourthWord)" value="CapTHAT!" style="border:none;background-color:#EC7063;height:45px;width:90px;border-radius:2px;color:#FFFFFF">
        </label>

        <label>
            <h1>
                {{fifthWord}}
            </h1>
            <input type="submit" data-ng-click="findLyrics(fifthWord)" value="CapTHAT!" style="border:none;background-color:#EC7063;height:45px;width:90px;border-radius:2px;color:#FFFFFF">
        </label>

    </div>


    <!--<div ng-show="lyricsFound">-->
        <!--<h1>-->
            <!--{{lyrics}}-->
        <!--</h1>-->
    <!--</div>-->

    <div ng-show = "captionFound">
        <!--Caption One-->
        <h1>
            I only love my {{caption[0]}} and my {{caption[1]}}, I'm sorry!
        </h1>
        <!--Caption Two-->
        <h1>
            That face when you {{caption[7]}} at {{caption[2]}}!
        </h1>
        <!--Caption Three-->
        <h1>
            My favorite {{caption[3]}}
        </h1>
        <!--Caption Four-->
        <h1>
            I'm here for a good time not {{caption[4]}}
        </h1>
        <!--Caption Five-->
        <h1>
            Know yourself, know your {{caption[5]}}
        </h1>
        <!--Caption six-->
        <h1>
            I'm way up, I feel {{caption[1]}}
        </h1>
        <!--Caption Seven-->
        <h1>
          You think this is a {{caption[6]}} ?
        </h1>
        <!--Caption Eight-->
        <h1>
          You like {{caption[7]}}? Thats cute.
        </h1>





    </div>


     <!-- FOOTER -->
     <footer>
          <div class="container">
               <div class="row">

                    <div class="col-md-5 col-sm-6">
                         <h2>BostonU </h2>
                         <p>CS411<br> Team11</p>


                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                             <h2>Keep in touch</h2>
                              <!--<p><a href="tel:010-090-0780">010-090-0780</a></p>-->
                              <p><a href="mailto:capthat_info@gmail.com">capthat_info@gmail.com</a></p>
                              <p><a href="#">Room#325, 725 Commonwealth Avenue,<br> Boston, MA 02215</a></p>
                         </div>
                    </div>

                    <!-- <div class="col-md-3 col-sm-12">

                      <h2>About Us</h2>

                      <ul class="social-icon">
                           <li><a href="#" class="fa fa-twitter"></a></li>
                           <li><a href="#" class="fa fa-facebook"></a></li>
                           <li><a href="#" class="fa fa-instagram"></a></li>
                           <li><a href="#" class="fa fa-linkedin"></a></li>
                      </ul>

                 </div>-->

                    <div class="clearfix"></div>

                    <div class="col-md-12 col-sm-12">
                         <div class="copyright-text">
                              <p>Copyright © 2018 CapThat </p>
                         </div>
                    </div>

               </div>
          </div>
     </footer>

</div>

<!-- SCRIPTS -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.parallax.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/magnific-popup-options.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/custom.js"></script>

<!--Controllers for this page/app -->
<script src = "../js/controllers.js"></script>

</body>
</html>
