extends layout

block content
    h1 lyrics of a song
    p #{JSON.stringify(result)}


    h1 caption structure
    div
    form(action='/razor', method = 'post')
      input(type = 'text', name = 'textblock', placeholder='Insert Lyrics Here')
      div
        input(type = 'submit', action='/razor')
