extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='/image') go to image page

  label Insert Image URL

  form(action='/image', method = 'post')
    input(type = 'text', name = 'imageurl', placeholder='Insert URL Here')
    input(type = 'submit', action='/image')
